{% load static %}
<!doctype html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Recuperação da palavra-passe - Nucleus</title>
    <link href="{% static '/img/favicon.png' %}" rel="icon" type="image/png">
    <link href="{% static '/img/apple-touch-icon.png' %}" rel="apple-touch-icon" type="image/png">
    <link href="{% static '/fontawesome/css/all.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/login.css' %}" rel="stylesheet" type="text/css">
    <style>
        .bg-image {
            background-image: url("{% static '/img/slide/slide-1.jpg' %}");
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h5 class="mb-4"><a href="{% url 'login' %}"><i class="fas fa-arrow-circle-left"></i> Voltar</a></h5>
                                <h3 class="login-heading mb-4">Recupere a sua conta!</h3>
                                {% if validlink %}
                                <h5 class="login-heading mb-4">Introduza a palavra-passe pretendida!</h5>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-label-group">
                                        <input name="new_password1" type="password" id="new_password1" class="form-control" placeholder="Palavra-passe" required>
                                        <label for="new_password1">Palavra-passe</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input name="new_password2" type="password" id="new_password2" class="form-control" placeholder="Confirmar palavra-passe" required>
                                        <label for="new_password2">Confirmar palavra-passe</label>
                                    </div>
                                    <div class="text-center text-danger pb-3">
                                        {% if form.errors %}
                                            {% for error in form.errors %}
                                                {% if error == 'new_password2'%}
                                                    <a>Os dados introduzidos não são válidos!</a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2 text-white">Recuperar</button>
                                </form>
                                {% else %}
                                <h5 class="login-heading">Link inválido!</h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
