{% extends "layout-dashboard.html" %}
{% load static %}
{% block conteudo_dashboard %}
    <div class="row text-center justify-content-center">
        <div class="col-xs-12 col-sm-6 col-md-6 {% if permission %}col-lg-3{% else %}col-lg-6{% endif %} d-flex justify-content-center">
            <div class="card bg-light text-dark mb-3 w-100">
                <div class="card-header">Tickets por Atender</div>
                <div class="card-body">
                    <h1>{{active_tickets}}</h1>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 {% if permission %}col-lg-3{% else %}col-lg-6{% endif %} d-flex justify-content-center">
            <div class="card bg-light text-dark mb-3 w-100">
                <div class="card-header">Tickets Atendidos</div>
                <div class="card-body">
                    <h1>{{closed_tickets}}</h1>
                </div>
            </div>
        </div>
        {% if permission %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center">
            <div class="card bg-light text-dark mb-3 w-100">
                <div class="card-header">Contactos por Responder</div>
                <div class="card-body">
                    <h1>{{active_contacts}}</h1>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center">
            <div class="card bg-light text-dark mb-3 w-100">
                <div class="card-header">Contactos Respondidos</div>
                <div class="card-body">
                    <h1>{{closed_contacts}}</h1>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <h4 class="lead">Últimos Pedidos de Assistência Registados</h4>
    {% if tickets.count != 0 %}
        <table class="table table-striped table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Assunto</th>
                    <th scope="col">Gravidade</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for record in tickets|dictsortreversed:"id"|slice:"5" %}
                    <tr>
                        <th scope="row">{{record.id}}</th>
                        <td>{{record.user.get_full_name|default:record.user.username}}</td>
                        <td>{{record.user.email|default:"Sem email..."}}</td>
                        <td>{{record.subject}}</td>
                        {% if record.gravity == 'low' %}
                            <td class="text-success">Baixa</td>
                        {% elif record.gravity == 'medium' %}
                            <td class="text-warning">Média</td>
                        {% else %}
                            <td class="text-danger">Grave</td>
                        {% endif %}
                        {% if record.status == 'open' %}
                            <td class="text-danger">Ativo</td>
                        {% else %}
                            <td class="text-success">Atendido</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="pb-2">
            <h6>Sem pedidos enviados!</h6>
        </div>
    {% endif %}
{% endblock %}