{% extends 'layout-dashboard.html' %}
{% load static %}
{% block conteudo_dashboard %}
    {% if count != 0 %}
        <table class="table table-striped table-bordered table-responsive-xl table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Assunto</th>
                    <th scope="col">Gravidade</th>
                    {% if status != null %}
                        <th scope="col">Estado</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for record in tickets %}
                    <tr data-toggle="modal" data-target="#modal{{record.id}}" style="cursor:pointer">
                        <th scope="row">{{record.id}}</th>
                        <td>{{record.user.get_full_name|default:record.user.username}}</td>
                        <td>{{record.user.email|default:"Sem email..."}}</td>
                        <td>{{record.subject}}</td>
                        {% if record.gravity == 'low'%}
                            <td class="text-success">Baixa</td>
                        {% elif record.gravity == 'medium' %}
                            <td class="text-warning">Média</td>
                        {% else %}
                            <td class="text-danger">Grave</td>
                        {% endif %}
                    </tr>
                    <div class="modal fade" id="modal{{record.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header bg-steel text-light">
                                    <h5 class="lead text-light" id="staticBackdropLabel">Ticket: {{record.id}}</h5>
                                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="ml-3">
                                                <a href="{% url 'profile' username=record.user.username %}">
                                                    {% if record.user.profile.image %}
                                                        <img class="rounded-circle" height="50" width="50" src="{{record.user.profile.image.url}}" alt="{{record.user.get_full_name|default:record.user.username}}">
                                                    {% else %}
                                                        <img class="rounded-circle" height="50" width="50" src="{% static '/img/user.png' %}" alt="{{record.user.get_full_name|default:record.user.username}}">
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="col align-middle">
                                                <h6 class="pt-1"><i class="fas fa-user"></i> {{record.user.get_full_name|default:record.user.username}}</h6>
                                                <h6><i class="fas fa-at"></i> {{record.user.email|default:"Sem email..."}}</h6>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="ml-3">
                                                <h6><i class="fas fa-exclamation-triangle"></i>:
                                                    {% if record.gravity == 'low' %}
                                                        Baixa
                                                    {% elif record.gravity == 'medium' %}
                                                        Média
                                                    {% else %}
                                                        Alta
                                                    {% endif %}
                                                </h6>
                                            </div>
                                            <div class="col">
                                                <h6><i class="fas fa-building"></i>: {{record.subject}}</h6>
                                            </div>
                                        </div>
                                        <hr>
                                        <h6>{{record.message}}</h6>
                                        <hr>
                                        {% if permission %}
                                        <label for="status">Marcar como:</label>
                                        <select name="status" id="status" required>
                                            <option value="closed">Atendido</option>
                                            <option value="open">Ativo</option>
                                        </select>
                                        <hr>
                                        {% endif %}
                                        <label>
                                            <input name="id" value="{{record.id}}" hidden>
                                        </label>
                                        <label for="response">Resposta:</label>
                                        <textarea id="response" name="response" rows="8" cols="50">{{record.response|default:""}}</textarea>
                                    </div>
                                    {% if permission %}
                                    <div class="modal-footer">
                                        <div class="d-flex justify-content-center">
                                            <button style="margin-right: 5px;" type="submit" class="btn btn-outline-success">Guardar</button>
                                            <button type="button" class="btn btn-outline-secondary"  data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>
        <div class="container text-center pb-1">
            {% if tickets.has_previous %}
                <a href="?page=1"><i class="fas fa-step-backward text-info"></i></a>
                <a href="?page={{tickets.previous_page_number}}"><i class="fas fa-arrow-left text-info"></i></a>
            {% else %}
                <a class="disabled"><i class="fas fa-step-backward text-muted"></i></a>
                <a class="disabled"><i class="fas fa-arrow-left text-muted"></i></a>
            {% endif %}
            <span class="current">Página {{tickets.number}} de {{tickets.paginator.num_pages}}</span>
            {% if tickets.has_next %}
                <a href="?page={{tickets.next_page_number}}"><i class="fas fa-arrow-right text-info"></i></a>
                <a href="?page={{tickets.paginator.num_pages}}"><i class="fas fa-step-forward text-info"></i></a>
            {% else %}
                <a class="disabled"><i class="fas fa-arrow-right text-muted"></i></a>
                <a class="disabled"><i class="fas fa-step-forward text-muted"></i></a>
            {% endif %}
        </div>
    {% else %}
        <div class="text-center pb-1">
            <span>Sem Pedidos</span>
        </div>
    {% endif %}
    <a class="btn btn-success mb-3" href="#" data-toggle="modal" data-target="#add_ticket">Adicionar Ticket</a>
    <div class="modal fade" id="add_ticket" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-steel text-light">
                    <h5 class="lead text-light" id="staticBackdropLabel">Adicionar Ticket</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 input-group">
                            <label for="subject">Assunto:</label>
                            <input name="subject" id="subject" type="text" required>
                        </div>
                        <div class="col-6 input-group">
                            <label for="gravity">Gravidade:</label>
                            <select name="gravity" id="gravity" required>
                                <option value="" disabled selected hidden>Gravidade</option>
                                <option value="high">Alta</option>
                                <option value="medium">Média</option>
                                <option value="low">Baixa</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group">
                        <label for="message">Mensagem:</label>
                        <textarea name="message" id="message" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-center">
                        <button style="margin-right: 5px;" type="submit" class="btn btn-outline-success">Enviar</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}